<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%-include('../include/head.ejs')%>
        <title>회원 관리</title>
    </head>
    <body>
        <%- include('./sidebar.ejs') %>
        <main class="admin-main">
            <h2>회원 삭제</h2>
            <div class="delete-user-div">
                <table class="user-list-table">
                    <tr>
                        <th>번호</th>
                        <th>아이디</th>
                        <th colspan="3"></th>
                    </tr>
                    <%for(let i=0; i<userInfo.length; i++){%>
                        <tr>
                            <td><%=userInfo[i].user_index%></td>
                            <td onclick="openRestInfo('<%=userInfo[i].user_index%>')"><%=userInfo[i].user_name%></td>
                            <td><button type="button" onclick="deleteRest('<%=userInfo[i].user_index%>','<%=userInfo[i].user_name%>')">삭제</button></td>
                        </tr>
                        <%}%>
                </table>
            </div>
        </main>
    </body>
</html>
