<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%-include('../include/head.ejs')%>
        <link rel="stylesheet" href="/static/css/adminRest.css">
        <title>관리 페이지</title>
    </head>
    <body>
        <%- include('./sidebar.ejs') %>
        <main class="admin-main">
            <h2>식당 목록</h2>
            <div class="add-rest-div">
                <button type="button" onclick="addPage()">식당 추가</button>
            </div>
            <table class="rest-list-table">
                <tr>
                    <th>번호</th>
                    <th>식당명</th>
                    <th colspan="3"></th>
                </tr>
                <%for(let i=0; i<restInfo.length; i++){%>
                <tr>
                    <td><%=restInfo[i].rest_index%></td>
                    <td onclick="openRestInfo('<%=restInfo[i].rest_index%>')"><%=restInfo[i].rest_name%></td>
                    <td><button type="button" onclick="addMenuPage('<%=restInfo[i].rest_index%>')">메뉴 추가</button></td>
                    <td><button type="button" onclick="openEdit('<%=restInfo[i].rest_index%>')">수정</button></td>
                    <td><button type="button" onclick="deleteRest('<%=restInfo[i].rest_index%>','<%=restInfo[i].rest_name%>')">삭제</button></td>
                </tr>
                <%}%>
            </table>
            <div class="restmodal modal-container">
                <div class="restmodal modal-main">
                    <div class="restmodal modal-info">
                        <h2 class="restinfo name">식당명</h2>
                        <p class="restinfo category">카테고리</p>
                        <p class="restinfo desc">식당정보</p>
                        <p class="restinfo address">식당주소</p>
                        <p class="restinfo time">영업시간</p>
                        <p class="restinfo number">전화번호</p>
                    </div>
                    <div class="restmodal modal-bottom"><span class="close-modal">&times;</span></div>
                </div>
            </div>
            <!-- pagination -->
            <nav></nav>
        </main>
        <script>
            const modal = document.querySelector('.modal-container')
            const modalBtn = document.querySelector(".close-modal");

            function getOneRestInfo(idx){
                try {
                    const result = axios({
                        method:'post',
                        url:'/admin/getRestInfo',
                        data:{rest_index:idx}
                    });
                    return result;
                } catch (error) {
                    console.log(error);
                    return false;
                }
            };

            function addPage(){
                window.location.href = '/admin/addRestaurant';
            }

            function addMenuPage(idx){
                window.location.href=`/admin/addRestaurantMenu?rest_index=${idx}`
            }

            function openEdit(idx){
                window.location.href=`/admin/editRestaurant?rest_index=${idx}`;
            }

            async function openRestInfo(idx){
                console.log("index:", idx);
                modal.style.display = "block";
                document.querySelector('.modal-info').style.display = "block";

                const restModal = document.querySelector('.modal-info');
                const restInfo = document.getElementsByClassName('restinfo');
                const [name, category, desc, address, time, number] = restInfo;
                
                const result = await getOneRestInfo(idx);
                const {rest_index, rest_name, rest_desc, rest_address, rest_number, rest_time, Categories:cateInfo, Menus} = result.data.restInfo;

                const categories = cateInfo.map((category) => category.category_name);
                let category_name = categories.join(', ');

                // const menuHTML = menuList.join('<br />');

                name.innerHTML = rest_name;
                desc.innerHTML = rest_desc;
                category.innerHTML = category_name;
                address.innerHTML = rest_address;
                time.innerHTML = rest_time;
                number.innerHTML = rest_number;
                Menus.forEach(el => {
                    let menu = el.menu+" ----------- "+el.price;
                    let menuP = document.createElement('p');
                    menuP.innerText = menu;
                    restModal.append(menuP);
                });
            }

            async function deleteRest(idx, name){
                const isDelete = confirm(`식당 ${name}을(를) 삭제하시겠습니까?`);
                if(isDelete){
                    try{
                        const result = await axios({
                            method:'delete',
                            url:'/admin/deleteRestaurant',
                            data: {rest_index:idx}                    
                        });
                        console.log(result);
                        if(result.data.isSuccess){
                            alert('삭제되었습니다.');
                            location.reload(true);
                        }else{
                            alert('접근 권한이 없습니다.');
                            location.reload(true);
                        }
                    }catch(error){
                        console.log("error!!", error);
                        alert('삭제하지 못했습니다.');
                        location.reload(true);
                    }
                }
            }

            modalBtn.onclick = () => {
                modal.style.display = "none";
            }
            modal.addEventListener('click', (e)=>{
                console.log(e);
                if(e.target === modal) modal.style.display = "none";
            });
        </script>
    </body>
</html>
