<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>창동역 맛집 모음</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <script src="https://kit.fontawesome.com/9ff27f4d50.js" crossorigin="anonymous"></script>
        <!-- head include -->
        <%- include('./include/head') %>
    </head>
    <body>
        <!-- header include -->
        <%- include('./include/header') %>
        <div class="mainContainer">
            <div
                style="
                    padding-top: 70px;
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    text-align: center;
                "
            >
                <img
                    src="/static/images/CMM-circle.png"
                    alt="CMM-LOGO"
                    style="width: 70px; height: auto; margin-top: -0.5rem"
                />

                <% if (category) { %>
                <h1><%=category%></h1>
                <% } else { %>
                <h1>모든식당</h1>
                <% } %>
            </div>
            <br />
            <div>
                <hr style="border: 3px solid#878787; height: 3px; width: 1200px; margin: 0 auto" />
            </div>

            <div style="width: 1350px; margin: 0 auto">
                <div style="max-width: 1350px; margin: 0 auto; min-height: 250px">
                    <div class="restaurantMenu" id="restaurantMenu1">
                        <div
                            class="restaurantContainer"
                            style="
                                display: grid;
                                grid-template-columns: repeat(3, minmax(0, 1fr));
                                gap: 35px;
                                justify-items: center;
                            "
                        >
                            <% for (let i = 0; i < restaurants.length; i++) { %>
                            <div class="item" style="max-width: 410px">
                                <a href="/restaurantDetail/<%=restaurants[i].rest_index%>">
                                    <div class="polaroid">
                                        <img
                                            src="/static/images/<%= restaurants[i].rest_index %>.png"
                                            alt="Restaurant 1"
                                            class="RestaurantImage"
                                            style="width: 350px; height: 350px"
                                        />
                                        <span class="label"><%= restaurants[i].rest_name %></span>
                                        <span class="labelStar">
                                            <span class="reviewCount"
                                                >리뷰 수: <%= indexReview[i] &&
                                                indexReview[i].Reviews ?
                                                indexReview[i].Reviews.length : 0 %></span
                                            >
                                            <!-- 별점 -->
                                            /<i
                                                class="fa-solid fa-star fa-xl"
                                                style="color: #ffd43b"
                                            ></i
                                            >: <% let rating = 0 %>
                                            <!-- 리뷰가 있을 때 -->
                                            <% if (indexReview[i].Reviews.length > 0) { %> <% for
                                            (review of indexReview[i].Reviews) { %> <% rating +=
                                            review.review_rating %> <% } %>
                                            <!-- 평균, 소수점 첫 번째 자리까지 반올림 -->
                                            <span class="rating"
                                                ><%= (rating /
                                                indexReview[i].Reviews.length).toFixed(1) %></span
                                            >
                                            <% } else { %>
                                            <span class="rating">0</span>
                                            <% } %>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />
        </div>

        <!-- footer include -->
        <%- include('./include/footer') %>
    </body>
</html>
