<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>창동 맛집 모음</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <!-- head include -->
        <%- include('./include/head') %>
    </head>
    <body>
        <!-- header include -->
        <%- include('./include/header') %>

        <div class="restaurantMenu" id="restaurantMenu1">
            <table style="border-spacing: 70px; border-collapse: separate">
                <tr>
                    <th style="font-size: 30px">
                        <img
                            class="logo"
                            src="/static/images/CMM.png"
                            alt=""
                            style="width: 50px; height: 50px"
                        />
                        모든식당
                    </th>
                    <th></th>
                </tr>
                <tbody id="restaurantContainer">
                    <% console.log("레스토랑 정보 >> ",restaurants) %>
                    <tr>
                        <% for (let i = 0; i < restaurants.length; i++) { %> <%#
                        restaurants.forEach((el, index) => { %> <% if ((i % 3 === 0 && i!== 0)) { %>
                        <%# if (index % 3 === 0 && index!== 0) { %>
                    </tr>
                    <tr>
                        <% } %> <%# } %>
                        <td>
                            <a href="/restaurantDetail/<%=restaurants[i].rest_index%>">
                                <div class="imageContainer">
                                    <img
                                        src="/static/images/<%=restaurants[i].rest_index%>.png"
                                        alt="Restaurant 1"
                                        class="RestaurantImage"
                                    />
                                    <span class="label"><%= restaurants[i].rest_name %></span>
                                </div>
                            </a>
                        </td>
                        <% } %> <%# }) %>
                    </tr>
                </tbody>
            </table>
        </div>

        <br /><br />
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- footer include -->
        <%- include('./include/footer') %>

        <script>
            // 검색 버튼에 이벤트 리스너 추가
            document.getElementById("searchButton").addEventListener("click", searchKeyword);

            // 키워드로 검색하여 테이블을 채우는 함수
            async function searchKeyword() {
                try {
                    const keyword = document.getElementById("searchInput").value.trim(); // 입력값의 앞뒤 공백 제거
                    if (!keyword) {
                        return; // 검색어가 없으면 함수 종료
                    }
                    document.location.href = `/search?keyword=${keyword}`;
                } catch (error) {
                    console.error("데이터 가져오기 오류:", error);
                }
            }

            // 엔터 키 입력 시 검색 실행
            document.getElementById("searchInput").addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    searchKeyword();
                }
            });
        </script>
    </body>
</html>
