<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>창동 맛집 모음</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <script src="https://kit.fontawesome.com/9ff27f4d50.js" crossorigin="anonymous"></script>
        <!-- head include -->
        <%- include('./include/head') %>
    </head>
    <body>
        <!-- header include -->
        <%- include('./include/header') %>
        <div class="mainContainer">
        <div
            style="
                padding-top: 70px;
                display: flex;
                justify-content: center;
                gap: 20px;
                text-align: center;
            "
        >
            <img src="/static/images/CMM-circle.png" alt="" style="width: 70px; height: auto; margin-top: -0.5rem; " />
            <h1>모든식당</h1>
        </div>
        <br>
        <div>
            <hr style="border: 3px solid#878787; height: 3px;   width: 1200px; margin: 0 auto;">
        </div>

        <div style="width: 1350px; margin: 0 auto">
            <div style="max-width: 1350px; margin: 0 auto; min-height: 250px;">
                <div class="restaurantMenu" id="restaurantMenu1" style="padding-top: 50px">
                    <div
                        class="restaurantContainer"
                        style="
                            display: grid;
                            grid-template-columns: repeat(3, minmax(0, 1fr));
                            gap: 35px;
                            justify-items: center;
                        "
                    >
                        <% for (let i = 0; i <restaurants.length; i++) { %>
                        <div class="restaurantItem" style="max-width: 410px" >
                            <a href="/restaurantDetail/<%=restaurants[i].rest_index%>">
                                <div class="imageContainer">
                                    <img
                                        src="/static/images/<%= restaurants[i].rest_index %>.png"
                                        alt="Restaurant 1"
                                        class="RestaurantImage"
                                        style="width: 350px; height: 350px; box-shadow: 10px 5px 5px black;"
                                    />
                                    <span class="label"><%= restaurants[i].rest_name %></span>
                                    <span class="labelStar">
                                        <span class="reviewCount">리뷰 수: <%=indexReview[i].Reviews.length%></span>
                                        <!-- 별점 -->
                                        /<i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>:
                                        <% let rating = 0%>
                                        <!-- 리뷰가 있을 때 -->
                                        <% if (indexReview[i].Reviews.length > 0) { %>
                                            <% for (review of indexReview[i].Reviews) { %>
                                                <% rating += review.review_rating %>
                                            <% } %>
                                        <!-- 평균, 소수점 첫 번째 자리까지 반올림 -->
                                        <span class="rating"><%= (rating / indexReview[i].Reviews.length).toFixed(1) %></span>
                                        <% } else { %>
                                            <span class="rating">0</span>
                                        <% } %>
                                    </span>
                                </div>
                            </a>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
        <!-- <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div> -->
    </div>
        
        <!-- footer include -->
        <%- include('./include/footer') %>
        <script>
            // 검색 버튼에 이벤트 리스너 추가
            document.getElementById("searchButton").addEventListener("click", searchKeyword);

            // 키워드로 검색하여 테이블을 채우는 함수
            async function searchKeyword() {
                try {
                    const keyword = document.getElementById("searchInput").value.trim(); // 입력값의 앞뒤 공백 제거
                    if (!keyword) {
                        return; // 검색어가 없으면 함수 종료
                    }
                    document.location.href = `/search?keyword=${keyword}`;
                } catch (error) {
                    console.error("데이터 가져오기 오류:", error);
                }
            }

            // 엔터 키 입력 시 검색 실행
            document.getElementById("searchInput").addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    searchKeyword();
                }
            });
        </script>

        <!-- 무한 스크롤 작업 -->
        <script>
            let page = 1; // 현재 페이지 번호
            let isLoading = false; // 데이터 로딩 상태 플래그
        
            window.addEventListener("scroll", function() {
            // 현재 스크롤 위치와 문서 높이를 가져옴
            const scrollPosition = window.scrollY + window.innerHeight;
            const documentHeight = document.body.offsetHeight;

            // 스크롤이 3분의 2 지점에 도달하면 추가 데이터 로딩
            if (scrollPosition >= documentHeight * 7 / 8 && !isLoading) {
            loadMoreData();
            }
            });
        
            async function loadMoreData() {
                try {
                    isLoading = true; // 데이터 로딩 상태를 true로 설정하여 중복 요청을 방지
        
                    // axios를 사용하여 서버에 추가 데이터 요청 보내기
                    const response = await axios.get(`/load-more?page=${page}`);
                    const newData = response.data.restaurants;
        
                    if (newData.length > 0) {
                        // 받은 데이터를 이용하여 화면에 추가하는 작업 수행
                        newData.forEach(restaurant => {
                            const restaurantItem = document.createElement('div');
                            restaurantItem.classList.add('restaurantItem');
                            restaurantItem.innerHTML = `
                                <a href="/restaurantDetail/${restaurant.rest_index}">
                                    <div class="imageContainer">
                                        <img src="/static/images/${restaurant.rest_index}.png" alt="${restaurant.rest_name}" class="RestaurantImage" style="width: 300px; height: 300px" />
                                        <span class="label">${restaurant.rest_name}</span>
                                        <span class="labelStar">리뷰</span>
                                    </div>
                                </a>
                            `;
                            document.querySelector('.restaurantContainer').appendChild(restaurantItem);
                        });
        
                        page++; // 페이지 번호 증가
                    }
                } catch (error) {
                    console.error("데이터 가져오기 오류:", error);
                } finally {
                    isLoading = false; // 데이터 로딩 상태를 다시 false로 설정하여 다음 요청이 가능하도록 함
                }
            }
        </script>
        >

    </body>
</html>
