<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/sugList.css">
        <title>건의 | 글 목록</title>
        <%- include('../include/head.ejs') %>
    </head>
    <body>
        <%- include('../include/header.ejs', {isLogin, user}) %>
        <div class="main-container">
            <h2>건의사항</h2>
            <br>
            <div class="list-container">
                <table class="list-table">
                <tr>
                    <th style="width: 100px">번호</th>
                    <th>제목</th>
                    <th style="width: 150px">작성자</th>
                    <th style="width: 120px">등록일</th>
                    <th style="width: 80px">추천</th>
                </tr>
                <% for(let i=0; i<sugList.length; i++){ %>
                    <tr>
                        <td><%= sugList[i].sug_index %></td>
                        <td><a href="post/<%=sugList[i].sug_index%>"><%= sugList[i].title %></a></td>
                        <td><%= sugList[i].User.nickname %></td>
                        <td><%= sugList[i].dataValues.created_at %></td>
                        <td><%= sugList[i].dataValues.like_count %></td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div class="page-container">
                <nav aria-label="Page navigation" class="page-nav">
                    <ul class="pagination">
                        <% if(pageInfo.startPage > pageInfo.pageLimit){ %>
                            <li class="page-item">
                                <a class="page-link" href="list?page=<%=pageInfo.startPage-1%>" aria-label="Previous">&laquo;</a>
                            </li>
                        <% } %>
                        <% for(let i=pageInfo.startPage; i<=pageInfo.endPage; i++){ %>
                            <% if(pageInfo.currentPage === i){ %>
                                <li class="page-item"><a class="page-link" href="list?page=<%=i%>"><b><%= i %></b></a></li>
                            <%} else{ %>
                                <li class="page-item"><a class="page-link" href="list?page=<%=i%>"><%= i %></a></li>
                            <% } %>
                        <% } %>
                        <% if(pageInfo.endPage < pageInfo.totalPage){ %>
                            <li class="page-item">
                                <a class="page-link" href="list?page=<%=pageInfo.endPage+1%>" aria-label="Next">&raquo;</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
                <div class="btn-div">
                    <a href="/suggestion/write"><button type="button" class="btn btn-info">글쓰기</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
