<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>건의사항</title>
        <%- include('../include/head.ejs') %>
    </head>
    <body>
        <table>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>추천</th>
            </tr>
        <% for(let i=0; i<sugList.length; i++){ %>
            <tr>
                <td><%= sugList[i].sug_index %></td>
                <td><a href=""><%= sugList[i].title %></a></td>
                <td><%= sugList[i].User.nickname %></td>
                <td><%= sugList[i].dataValues.created_at.toDateString() %></td>
                <td><%= sugList[i].dataValues.like_count %></td>
            </tr>
            <% } %>
        </table>

    </body>
</html>
