<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="창동역 맛집 모음 웹사이트의 건의사항 게시판의 게시글 작성 페이지입니다.">
        <title>건의 | 글쓰기</title>
        <script src="https://cdn.jsdelivr.net/npm/suneditor@2.45.1/dist/suneditor.min.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/suneditor@2.45.1/dist/css/suneditor.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/sugWriter.css">
        <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/ko.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/plugins/modules/[dialog, resizing].js"></script>
        <%- include('../include/head.ejs') %>
    </head>
    <body>
        <%- include('../include/header.ejs', {isLogin, user}) %>
        <div class="main-container">
            <div class="back-link-div">
                <a href="/suggestion/list?page=1" class="back-link" onclick="return confirmOut()"
                    ><p>&lt;목록으로</p></a
                >
            </div>
            <div class="form-container">
                <% if(isNew) {%>
                <form action="/suggestion/writePost" method="post">
                    <input type="text" class="title" name="title" maxlength="32" placeholder="제목을 입력해주세요"/><br /><br>
                    <textarea id="editor" class="content" name="content"></textarea>
                    <%} else{ %>
                    <form
                        action="/suggestion/editPost?post=<%=postInfo.sug_index%>"
                        method="post"
                    >
                    <input
                        type="text"
                        name="title"
                        class="title"
                        maxlength="32"
                        placeholder="제목을 입력해주세요"
                        value="<%= postInfo.title %>"
                    /><br /><br/><br/>
                    <textarea id="editor" class="content" name="content"><%- postInfo.content %></textarea>
                    <% } %>
                    <div class="btn-container">
                    <button class="btn-sug btn-post" onclick="return submitPost()">등록</button>
                </div>
                </form>
            </div>
        </div>
        <%- include('../include/footer.ejs') %>
        <script>
            const editor = document.getElementById("editor");

            // suneditor 생성
            const suneditor = SUNEDITOR.create("editor", {
                width: "100%",
                height: "500px",
                charCounter: true,
                placeholder: "본문을 입력해주세요",
                popupDisplay: "local",
                buttonList: [
                    ["formatBlock", "fontSize"],
                    ["bold", "underline", "italic", "strike", "removeFormat"],
                    ["fontColor", "hiliteColor", "indent", "outdent", "align", "list", "table", "link"],
                    ["undo", "redo"],
                ],
                lang: SUNEDITOR_LANG["ko"],
                defaultStyle: "position: relative; z-index:0;",
            });

            // 내용 변경 시 textarea에 복사
            suneditor.onChange = (contents, core) => {
                suneditor.save();
            };

            function submitPost() {
                let title = document.querySelector(".title");
                let titleVal = title.value.replace(/\\s+/g, "");
                let textContent = suneditor.getText();
                let textCount = suneditor.getCharCount();

                if (titleVal === "") {
                    alert("제목을 입력해주세요.");
                    return false;
                } else if (textContent === "") {
                    alert("본문을 입력해주세요.");
                    return false;
                } else if (textCount > 1000) {
                    alert("입력 가능한 글자수를 초과하였습니다. (최대 1000자)");
                    return false;
                } else {
                    return true;
                }
            }

            function confirmOut() {
                const isOut = confirm("글을 작성 중입니다. 정말 나가시겠습니까?");
                if (isOut) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
    </body>
</html>
