<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/sugPost.css" />
        <title>건의 | <%= postInfo.title%></title>
        <%- include('../include/head') %>
    </head>
    <body>
        <%- include('../include/header.ejs', {isLogin, user}) %>
        <div class="main-container">
            <h2>건의사항</h2>
            <br />

            <div class="post-container">
                <table class="post-table">
                    <tr class="first-row">
                        <td colspan="2"><p><%= postInfo.title %></p></td>
                    </tr>
                    <tr class="second-row">
                        <td><%= postInfo.User.nickname %></td>
                        <td><%= postInfo.dataValues.created_at %></td>
                    </tr>
                    <tr class="third-row">
                        <td colspan="2"><%- postInfo.content %></td>
                    </tr>
                    <tr class="btn-like-tr">
                        <td colspan="2">
                            <button
                                type="button"
                                class="btn-sug btn-like"
                                onclick="like('<%=postInfo.sug_index%>','<%= postInfo.User.user_index%>','<%=loginUser %>')"
                            >
                                추천 <%= postInfo.dataValues.like_count %>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="btn-container">
                <div class="btn-sug">
                    <button class="btn-sug" onclick="goback()">목록으로</button>
                </div>
                <div class="btn-group">
                    <% if(postInfo.User.user_index===loginUser){ %>
                    <button
                        type="button"
                        class="btn-sug"
                        onclick="editPost('<%= postInfo.sug_index %>')"
                    >
                        수정
                    </button>
                    <button
                        type="button"
                        class="btn-sug"
                        onclick="deletePost('<%= postInfo.sug_index %>')"
                    >
                        삭제
                    </button>
                    <%}%>
                </div>
            </div>
        </div>
        <%- include('../include/footer.ejs') %>
        <script>
            function goback() {
                const pageIdx = document.referrer.lastIndexOf("page=");
                let page = document.referrer.substring(pageIdx);
                if (pageIdx > 0) {
                    page = page.replace("page=", "");
                    window.location.href = `/suggestion/list?page=${page}`;
                } else {
                    window.location.href = "/suggestion/list?page=1";
                }
            }

            function deletePost(idx) {
                const isDelete = confirm("게시글을 삭제하시겠습니까?");
                if (isDelete) {
                    window.location.href = `/suggestion/delete?post=${idx}`;
                }
            }

            function editPost(idx) {
                window.location.href = `/suggestion/edit?post=${idx}`;
            }

            async function like(idx, writer, loginUser) {
                const btnLike = document.querySelector(".btn-like");
                const sameUser = writer === loginUser ? true : false;

                if (!loginUser) {
                    alert("로그인 후에 추천 가능합니다.");
                    return;
                } else if (sameUser === true) {
                    alert("본인 글은 추천할 수 없습니다.");
                    return;
                } else {
                    try {
                        const likeCount = await axios({
                            method: "post",
                            url: "/suggestion/likePost",
                            data: {
                                sug_index: idx,
                                user_index: loginUser,
                            },
                        });
                        btnLike.innerHTML = "추천 " + likeCount.data.likeCount;
                    } catch (error) {
                        console.log(error);
                        alert("추천하지 못했습니다.");
                    }
                }
            }
        </script>
    </body>
</html>
