<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>내 리뷰 목록</title>
        <%- include('../include/head') %>
        <link rel="stylesheet" href="/static/css/reviewDetail.css" />
        <script src="https://kit.fontawesome.com/9ff27f4d50.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../include/header'), {isLogin: isLogin, user: user} %> <%-
        include('../include/mypageNav', { title: "내 리뷰 상세" }) %> <% try { %>
        <main>
            <hr
                style="
                    border: 3px solid#878787;
                    height: 3px !important;
                    display: block !important;
                    width: 100% !important;
                "
            />

            <div class="review">
                <div class="rest">
                    <a href="/restaurantDetail/<%=reviewDetail.review_index%>">
                        <img
                            src="/static/images/<%= reviewDetail.rest_index %>.png"
                            alt="식당 이미지"
                        />
                    </a>
                    <span class="restName"><%= reviewDetail.Restaurant.rest_name%></span>
                </div>
                <div class="ratingAndContent">
                    <div class="time">
                        <% const originalDate = new Date(reviewDetail.createdAt); const
                        formattedDate = originalDate.toLocaleString('ko-KR', {timeZone:
                        'Asia/Seoul', hour12: false}); %> <%= formattedDate %>
                    </div>
                    <div class="rating">
                        <% for (let j = 0; j < reviewDetail.review_rating; j++) { %>
                        <i id="filledStar" class="fa-solid fa-star fa-2xl" style="color: #ffd43b">
                        </i>
                        <% } %>
                    </div>
                    <div class="content">
                        <p><%= reviewDetail.review_content %></p>
                    </div>
                    <div class="updateAndDeleteReview">
                        <button type="button" onclick="updateReview()">수정</button>
                        <button type="button" onclick="deleteReview()">삭제</button>
                    </div>
                </div>
            </div>
        </main>
        <% } catch(err) { %>
        <h1>세션이 만료되었습니다. 다시 로그인해주세요.</h1>
        <% }%> <%-include('../include/footer') %>
    </body>
</html>
